<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    
    <!-- Used for SQL CLR integration within SQL Server -->
    <add name="SqlClrContextConnection" connectionString="context connection=true" />
    
    <!-- Standard connection string for external SQL Server access -->
    <add name="SqlServerConnection" connectionString="Server=localhost;Trusted_Connection=True;" />

  </connectionStrings>
  <appSettings>
    <!-- Can these key/value pairs reach the CLR service layer?   -->
    <add key="ApiUrl" value="http://127.0.0.1:11434" />
    <add key="QueryRetryLimit" value="3" />
    <add key="ApiTimeoutMs" value="100000" />
  </appSettings>
</configuration>

