<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SqlServerContextConnection" connectionString="context connection=true" />
  </connectionStrings>
  <appSettings>
    <!-- Can these key/value pairs reach the CLR service layer?   -->
    <add key="ApiUrl" value="http://127.0.0.1:11434" />
    <add key="QueryRetryLimit" value="3" />
    <add key="ApiTimeoutMs" value="100000" />
  </appSettings>
</configuration>

