<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!--
        This file handles configuration for the Deployment Manager and the SQL/CLR project.
  -->
  
  <connectionStrings>
    
    <!-- Used for SQL CLR integration within SQL Server -->
    <add name="SqlClrContextConnection" connectionString="context connection=true" />
    
    <!-- Standard connection string for external SQL Server access -->
    <add name="SqlServerConnection" connectionString="Server=localhost;Trusted_Connection=True;" />

  </connectionStrings>
  <appSettings>
    <add key="ApiUrl" value="http://127.0.0.1:11434" />
    <add key="QueryProductionRetryLimit" value="3" />
    <add key="ApiTimeoutMs" value="100000" />
    <add key="SqlCommandTimeoutSecs" value="300"/>
    <add key="CacheTimeoutMins" value="2"/>
  </appSettings>
</configuration>
